name: Publish Snapshot
permissions:
  contents: read
on:
  push:
    branches:
      - main
      - '[0-9].x'
  workflow_dispatch:

jobs:
  snapshot:
    name: Deploy Snapshot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up publishing to maven central
        uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
          server-id: central
          server-username: CENTRAL_USERNAME
          server-password: CENTRAL_TOKEN

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            /var/cache/apt
          key: jena-falkordb-${{hashFiles('**/pom.xml')}}

      - name: mvn offline
        run: |
          mvn -q dependency:go-offline
          
      - name: deploy
        run: |
          mvn -DskipTests -Dgpg.skip=true deploy
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_TOKEN: ${{ secrets.CENTRAL_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSH_GPG_SECRET_KEY_PASSWORD }}

